// Syntax highlighting - VS Code Dark+ theme

.highlight {
  background-color: #1e1e1e;
  padding: 1rem;
  border: 1px solid #3c3c3c;
  border-radius: 4px;
  margin: 1rem 0;
  overflow-x: auto;
}

code {
  font-family: 'JetBrains Mono', 'Consolas', 'Monaco', monospace;
  font-size: 0.8rem;
  line-height: 1.5;
}

// Base colors - VS Code Dark+
.highlight .c { color: #6a9955 } /* Comment */
.highlight .err { color: #f44747 } /* Error */
.highlight .g { color: #d4d4d4 } /* Generic */
.highlight .k { color: #569cd6 } /* Keyword */
.highlight .l { color: #d4d4d4 } /* Literal */
.highlight .n { color: #d4d4d4 } /* Name */
.highlight .o { color: #d4d4d4 } /* Operator */
.highlight .x { color: #d4d4d4 } /* Other */
.highlight .p { color: #d4d4d4 } /* Punctuation */

// Comments
.highlight .cm { color: #6a9955 } /* Comment.Multiline */
.highlight .cp { color: #c586c0 } /* Comment.Preproc */
.highlight .c1 { color: #6a9955 } /* Comment.Single */
.highlight .cs { color: #6a9955 } /* Comment.Special */

// Generic
.highlight .gd { color: #f44747 } /* Generic.Deleted */
.highlight .ge { color: #d4d4d4; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #f44747 } /* Generic.Error */
.highlight .gh { color: #d4d4d4; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #6a9955 } /* Generic.Inserted */
.highlight .go { color: #858585 } /* Generic.Output */
.highlight .gp { color: #d4d4d4 } /* Generic.Prompt */
.highlight .gs { color: #d4d4d4; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #4fc1ff } /* Generic.Subheading */
.highlight .gt { color: #f44747 } /* Generic.Traceback */

// Keywords
.highlight .kc { color: #569cd6 } /* Keyword.Constant */
.highlight .kd { color: #569cd6 } /* Keyword.Declaration */
.highlight .kn { color: #c586c0 } /* Keyword.Namespace */
.highlight .kp { color: #569cd6 } /* Keyword.Pseudo */
.highlight .kr { color: #569cd6 } /* Keyword.Reserved */
.highlight .kt { color: #4ec9b0 } /* Keyword.Type */

// Literals
.highlight .ld { color: #ce9178 } /* Literal.Date */
.highlight .m { color: #b5cea8 } /* Literal.Number */
.highlight .s { color: #ce9178 } /* Literal.String */

// Names
.highlight .na { color: #9cdcfe } /* Name.Attribute */
.highlight .nb { color: #4ec9b0 } /* Name.Builtin */
.highlight .nc { color: #4ec9b0 } /* Name.Class */
.highlight .no { color: #4fc1ff } /* Name.Constant */
.highlight .nd { color: #dcdcaa } /* Name.Decorator */
.highlight .ni { color: #d4d4d4 } /* Name.Entity */
.highlight .ne { color: #4ec9b0 } /* Name.Exception */
.highlight .nf { color: #dcdcaa } /* Name.Function */
.highlight .nl { color: #9cdcfe } /* Name.Label */
.highlight .nn { color: #d4d4d4 } /* Name.Namespace */
.highlight .nx { color: #9cdcfe } /* Name.Other */
.highlight .py { color: #9cdcfe } /* Name.Property */
.highlight .nt { color: #569cd6 } /* Name.Tag */
.highlight .nv { color: #9cdcfe } /* Name.Variable */

// Operators
.highlight .ow { color: #569cd6 } /* Operator.Word */
.highlight .w { color: #d4d4d4 } /* Text.Whitespace */

// Numbers
.highlight .mf { color: #b5cea8 } /* Literal.Number.Float */
.highlight .mh { color: #b5cea8 } /* Literal.Number.Hex */
.highlight .mi { color: #b5cea8 } /* Literal.Number.Integer */
.highlight .mo { color: #b5cea8 } /* Literal.Number.Oct */

// Strings
.highlight .sb { color: #ce9178 } /* Literal.String.Backtick */
.highlight .sc { color: #ce9178 } /* Literal.String.Char */
.highlight .sd { color: #ce9178 } /* Literal.String.Doc */
.highlight .s2 { color: #ce9178 } /* Literal.String.Double */
.highlight .se { color: #d7ba7d } /* Literal.String.Escape */
.highlight .sh { color: #ce9178 } /* Literal.String.Heredoc */
.highlight .si { color: #ce9178 } /* Literal.String.Interpol */
.highlight .sx { color: #ce9178 } /* Literal.String.Other */
.highlight .sr { color: #d16969 } /* Literal.String.Regex */
.highlight .s1 { color: #ce9178 } /* Literal.String.Single */
.highlight .ss { color: #ce9178 } /* Literal.String.Symbol */

// Variables
.highlight .bp { color: #9cdcfe } /* Name.Builtin.Pseudo */
.highlight .vc { color: #9cdcfe } /* Name.Variable.Class */
.highlight .vg { color: #9cdcfe } /* Name.Variable.Global */
.highlight .vi { color: #9cdcfe } /* Name.Variable.Instance */
.highlight .il { color: #b5cea8 } /* Literal.Number.Integer.Long */
